*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .2s linear;
  font-family:Arial, Helvetica, sans-serif

}
body {
  background: #44a08d;
}

li, a , button{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #080808;
  text-decoration: none;
}
header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding:30px 10%;
}
.nav_links li{
  display: inline-block;
  padding: 0px 20px;
 
}
.nav_links li a{
  transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
  color: blue;
   cursor: pointer;
}

button{
  padding: 9px 25px;
  background-color: aqua;
  border:none;
  border-radius: 50px;
  cursor:pointer;
  transition: all 0.3s ease 0s;
  margin-left:20px;
}
button:hover {
  background-color:blue
}
.wrapper{
  margin:10px auto;
  padding: 0 10%;
  text-transform: capitalize;
}
h1{
  color:#fff;
  font-size: 45px;
  text-align: center;
  padding-bottom: 15px;
  text-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
}
.container{
  display: grid;
  gap:15px;
  grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
}
.box{
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.box img{
  height: 70px;
}
.box h2{
  color:#444;
  padding: 10px 0;
  font-size: 20px;
}
.box p{
  color:#777;
  font-size: 14px;
  line-height: 1.6;
}
.btn{
  color:#fff;
  border: none;
  outline: none;
  font-size: 17px;
  margin-top: 10px;
  padding: 8px 15px;
  background: #333;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
}
.btn:hover{
letter-spacing: 1px;
}
.btn:hover{
  transform: scale(1.03);
box-shadow: 0 10px 15px rgba(0,0,0,0.3)
}

@media (max-width:770px) {
  .wrapper{
    padding: 20px;
  }
}

footer{
  position: bottom;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
